[submodule "backend"]
	path = backend
	url = https://github.com/KOSS-Photocarpet/PhotoCarpet-Backend.git
[submodule "android-frontend"]
	path = android-frontend
	url = https://github.com/KOSS-Photocarpet/PhotoCarpet-Android.git
[submodule "ios-frontend"]
	path = ios-frontend
	url = https://github.com/KOSS-Photocarpet/PhotoCarpet-iOS.git
