
[submodule "iOS"]
	path = iOS
	url = https://github.com/KOSS-Photocarpet/PhotoCarpet-iOS.git
[submodule "server"]
	path = server
	url = https://github.com/KOSS-Photocarpet/PhotoCarpet-Backend.git
[submodule "android"]
	path = android
	url = https://github.com/KOSS-Photocarpet/PhotoCarpet-Android.git
